.folder-nav {
  font-size: 0.75rem;

  .folder-nav-control {
    display: flex;
    align-items: center;
    height: 1.55rem;
    border-radius: 1rem;
    padding-inline: 0.25rem;
    cursor: pointer;
    margin: 1px;

    &:hover {
      background-color: var(--bg--hover);
    }

    &.selected {
      background-color: var(--primary-color--light);
    }

    .btn-arrow,
    .img-container {
      flex-shrink: 0;
    }

    .folder-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .btn-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      width: 0.9rem;
      padding: 0.2rem;
      aspect-ratio: 1/1;
      transform: rotate(-90deg);
      transition: transform var(--transition-normal-1);
    }

    .img-container {
      display: flex;
      align-items: center;
      width: 0.8rem;
      margin-inline-end: var(--spacing-1);
    }
  }

  & > .folder-nav-children {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    opacity: 0;
    content-visibility: hidden;
    transition:
      height var(--transition-normal-1),
      opacity var(--transition-normal-1),
      content-visibility var(--transition-normal-1) allow-discrete;
  }

  &[data-open="true"] > .folder-nav-children {
    height: auto;
    opacity: 1;
    content-visibility: visible;
  }

  &[data-open="true"] > .folder-nav-control .btn-arrow {
    transform: rotate(0deg);
  }
}

.folder-nav {
  --inset-spacing: 1.05rem;

  .-inset-2 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 1);
  }
  .-inset-3 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 1.8);
  }
  .-inset-4 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 2.6);
  }
  .-inset-5 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 3.4);
  }
  .-inset-6 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 4.2);
  }
  .-inset-7 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 5);
  }
  .-inset-8 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 5.8);
  }
  .-inset-9 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 6.6);
  }
  .-inset-10 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 7.4);
  }
  .-inset-11 > .folder-nav-control {
    padding-inline-start: calc(var(--inset-spacing) * 8.2);
  }
}
