.btn-new-container {
  position: relative;

  .btn-new {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    background-color: var(--bg);
    border: none;
    box-shadow: var(--shadow-elevation);
    border-radius: 0.75rem;
    padding-inline: var(--spacing-3);
    padding-block: 0.3rem;
    font-size: 0.8rem;
    transition: background-color var(--transition-fast);

    .icon {
      font-size: 1.75rem;
      font-weight: 200;
    }

    &:hover {
      background-color: var(--primary-color-bg--hover);
    }
  }
}
