.item-details {
  padding-block-end: var(--spacing-3);
  padding-inline-start: var(--spacing-2);
  overflow: hidden;

  .content {
    border-radius: 1rem;
    height: 100%;
    background-color: var(--bg);
  }

  &.hide {
    width: 0px;
    padding-inline-start: unset;
  }
}
