@keyframes auth-loading-bar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(200%);
  }
}

.auth-layout {
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
  min-height: 100vh;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
    margin-inline: auto;
    width: 60%;
    max-width: 50rem;
    min-width: 42.5rem;
    padding: var(--spacing-5);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
  }

  .content.loading::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bg-loading);
    z-index: 1;
  }

  .content.loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    border-radius: 1rem;
    height: 0.25rem;
    width: 50%;
    z-index: 2;
    animation: auth-loading-bar 1.5s ease-in-out infinite;
  }

  .page-logo {
    margin-block-end: var(--spacing-2);
  }

  form {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-6);

    & > * {
      flex: 1;
    }
  }

  .form-details {
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin-block-end: var(--spacing-1);
    }
    p {
      font-size: 0.8rem;
    }
  }

  .form-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
  }

  .form-controls {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacing-2);
  }

  @media screen and (max-width: 934px) {
    .content {
      width: unset;
      min-width: unset;
      max-width: 25rem;
    }

    form {
      flex-direction: column;
      gap: var(--spacing-4);
    }
  }

  @media screen and (max-width: 500px) {
    .content {
      border-radius: unset;
      min-height: 100vh;
      width: 100%;
      min-width: unset;
      max-width: unset;
    }
  }
}
