footer {
  background-color: var(--bg-secondary);

  :where(.content > section) {
    padding-block: var(--spacing-4);

    &:not(:last-child) {
      border-block-end: 1px solid var(--border-1);
    }
  }
}
