.app-header-controls,
.user-details {
  display: flex;
  align-items: center;
  height: 100%;
}

.app-header-controls {
  gap: var(--spacing-2);
  padding-block: var(--spacing-1);
  margin-inline-start: auto;
  .btn {
    height: 100%;
  }
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  height: 100%;
  font-size: 1.3rem;
  background-color: var(--primary-color);
  color: var(--bg);
  text-transform: uppercase;
  margin-inline-end: var(--spacing-1);
}
