.app-layout {
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 14rem 1fr max-content;
  column-gap: var(--spacing-2);
  height: 100vh;
  background-color: var(--bg-app);

  .app-header {
    grid-area: 1 / 1 / 2 / 4;
  }
}
