.app-layout {
  display: grid;
  grid-template-columns: 12rem 1fr 12rem;
  grid-template-rows: 3.4rem 1fr;
  padding-inline: var(--spacing-3);
  padding-block-end: var(--spacing-3);
  height: 100svh;
  background-color: var(--bg-app);
  overflow-y: hidden;
}

.app-header-controls {
  grid-area: 1 / 3 / 2 / 4;
}

main {
  grid-area: 2 / 2 / 4 / 4;
}
