.app-layout {
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 12rem 1fr auto;
  height: 100vh;
  padding-inline: var(--spacing-3);
  background-color: var(--bg-app);
  transition: grid-template-columns 1s;

  .app-header {
    grid-area: 1 / 1 / 2 / 4;
  }
}
